
.article{
  position: relative;
 left: 450px;
 width: 500px;
 height: 800px;
 background-color: #BEF6E9;
    padding:25px;
    margin-right:450px;
}
h1{font-family: 'Dancing Script', cursive;color:orange;margin-left:50px;
}
h3{font-family: 'Dancing Script', cursive;font-weight:bold;color:orange;margin-left:410px; 
}
.sentence1{font-family: 'Dancing Script';line-height: 1.5em;
  color:orange;
}
h5{font-family: 'Dancing Script', cursive;color:orange;
}
.link{
  color:green;
}
.pro{font-family: 'Dancing Script';line-height: 1.5em;font-weight:bold;color:orange;
}
.ending{font-family: 'Dancing Script';line-height: 1.5em;font-weight:bold;color:orange;
}
