@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  /* width:80%; */
  margin-left:300px;
  margin-right:300px;
}
body,
html{
  font-family: 'Roboto', sans-serif;font-size:20px;
}
.container{
  display:flex;
  flex-direction:column;
  /* text-align:center; */
  /* padding:30px; */
  line-height:1.68;

}

p{
  color: #244B3F;
}
.row {
  display: flex;
  line-height: 1.68;
  width: 100%;}

.column {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav {
  height: 60px;
}

ul.nav1 {
  background-color:white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  line-height: 60px;
  overflow: hidden;
	position: fixed;
	top: 0;
	width: 58%;
}

.nav1 a{
  font-size: 20px;
  text-decoration: none;
 color: grey;
 
  font-family: Roboto;
  font-weight: bold
}
/* ----------------------------------------
title
------------------------------------------- */

/* .headimage{
  width: 80%;
  display: inline-block;
  color: white;
  height: 200px;
  background-position: center;
  background-size: cover;
  text-align: center;
} */
.head{
  top: 60%;
  position: relative;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 10px;
}
.head-image {
  background-image: url(images/blog_header_bg.jpg);
  display: inline-block;
  color: white;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;

}

/* .title-text {
  top: 40%;
  position: relative;

} */

h3,h2{
  color: #244B3F;
}
.title2{
  line-height: 1.68;
  width: 100%;
}
.body2 img {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}
.body2 {
  line-height: 1.68;
  width: 100%;
}

h1{
  font-size: 50px;
  /* color:black; */
}




/* ul.container2{
    padding:5px;
    color:grey;
    display: flex;
    flex-direction: column;
    margin-left: 50px ;
   font-family: Roboto;
   font-size:15px;
   font-weight:bold;
   justify-content: space-around;
  
} */
.container2 {
  font-size: 18px;
   color: solid grey;
		list-style-type: none;
		width: 100%;
		
		line-height: 30px;
		
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
.container2:hover {
	color: #4c98af;

}



/* ----------------------------------------
Footer
------------------------------------------- */
/* .footernav{
  padding: 5px;
  background-color: lightblue;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.footernav a {
	color: grey;
}
.footer:hover{
  color: white;
}
.copy{
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color:lightblue;
  
} */
.footer{
  width:100%;
  align-items: center;
  text-align:center;


  background-color: lightblue;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.footer a {
	color: grey;
}
.footer:hover{
  color: white;
}
.li2 {
  color: solid rgba(58, 58, 59, 1);
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid rgba(76, 152, 175, 1);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease .3s;
}
.copy{
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color:lightblue;
  
}